* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.whole-content {
    display: flex;
}

.image-container {
    display: flex;
    position: relative;
    width: 40vw;
    min-height: 100vh;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    width: 40vw;
}

.background-text {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 45vh;
    max-width: 40vw;
    right: 0;
    width: 40vw;
    color: white;
    font-size: 48px;
    padding: 30px 0;
    background-color: rgb(0, 0, 0, .7);

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    height: 100vh;
}

.description {
    padding-top: 72px;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: row wrap;
    font-size: 1.8rem;
    height: 35vh;
    border: 2px solid red;
    background-color: rgb(255, 250, 250, .7)

}

.form-container { 
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 35vh;
}
  
.inputbox {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    padding-left: 32px;
}

label {
    font-weight: 500;
}

input {
    border: 1px solid rgb(0, 0, 0, .5);
    border-radius: 4px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid mediumturquoise;
    padding-top: 20px;
    height: 30vh;
    padding-left: 32px;
}

.form-title {
    width: 100%;
    padding-left: 32px;
    padding-bottom: 0;
    font-size: 1.8rem;
}

.create-acc-btn {
    background-color: #596D48;
    width: 25%;
    height: 25%;
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}

.login-suggestion {
    margin-top: 4px;
}

.login {
    color: #596D48;
    font-weight: 600;
}